.userPhoto {
  width: 100px;
  height: 100px;
}

.selectedPage {
  font-weight: bold;
  font-size: 30px;
}

.usersBlock {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.userInfo {
  margin-top: 20px;
}