.header {
   grid-area: header;
   background-color: cadetblue;
   border: 4px double white;
 
 }

 .header img {
   width: 35px;
   height: 45px;
   margin-left: 20px;
   margin-top: 3px;
   
 }

 .loginBlock {
   float: right;
   color: white;
   padding-right: 20px;
   padding-top: 20px;
 }

 .loginBlock a {
   color: white;
   text-decoration: none;
   
 }