
.describtionBlock {
    padding: 10px;
    
}

.profileImg {
    width: 850px;
}

.profileInfo {
    color: white;
}

.profileAva {
    width: 100%;
}

.contact {
    padding-left: 10px;
    color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    background-color: black;
}

.container {
    padding: 2px 16px;
    color: black;
}

.file {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }
  
  .file:hover {opacity: 1}