.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1024px;
 
  grid-template-areas:
  "header header"
  "sidenav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}


.app-wrapper-content {
  margin-top: 25px;
  grid-area: content;
  background-color: gold;
  width: 850px;
}