.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 10px;
}

.dialogsItem {
  padding: 10px;
}

.dialogsItem .active {
    color: gold;
  }


.messages {
    padding: 10px;
    color: white;
}

